/* CONTENT幅を768ｐｘに */
.l-contents{
    width: 768px;
    max-width: 768px;
}
.itemA{
    margin-left: calc(768px /2);
}
.itemB{
    margin-right: calc(768px /2);
}
.itemC{
    margin-right: calc(768px /2);
}

/* 後ろベーグルアニメーション */
#canvas-wrap{
    width: 768px;
}
#canvas-containter{
    width: 768px!important;
}
/* 縦型レイアウトから横型に */
.l-template-inner,
.l-interview-inner,
.l-group-inner{
    display: flex;
}
/* 画像の大きさをAUTOに */
.l-vision{
    gap: 30px;
}
/* 画像の大きさ変更 */
.l-vision-img{
    width: 52%;
    height: auto;
}
.l-vision-img img{
    width: auto;
    height: auto;
}

.l-mission-img1 {
    width: auto;
    height: auto;
}

/* NEWSのみ変更する部分 */
.l-news-inner{
    display: block;
}
.news-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-item{
    width: 340px;
}

/*  */
.l-template-img{
    max-width: 400px;
}


/* HEADERの幅を調整 */
.l-header{
    max-width: 768px;
}

/* TOP HERO イメージ */
.l-top-img{
    width: 73%;
}

.l-top-copy{
    width: 73%;
}

/* ミッション 文字の移動 */
.l-mission .txtbox{
    margin-left: 40px;
    margin-top: 40px;
}

/* ミッションの左画像大きさ */
.l-mission .item2{
    width: 85%;
}
/* 画像の縦横比調整 */

/* グループ 画像大きさ変更 */
.l-group-box{
    width: 100%;
}
/* グループの真ん中の幅 */
.l-group-inner{
    gap: 40px;
}

/* メリット3つの幅調整 */
.l-merit-box{
    width: 70%;
    margin: 0 auto;
}
.l-merit-box-heading::after{
    width: 30rem;
}

/* 画像の大きさ調整
GAPに違いを出してサイズを統一しています、
*/
.l-interview-inner{
    gap: 92px;
}
.l-requirement-inner{
    gap: 40px;
}

/* セクション マージン 比率 */
.l-template ,
.l-interview,
.l-merit,
.l-group{
    margin-top: 100px;
}

@media screen and (max-width:1279px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .l-container-navi-list{
        display: none;
    }
}


/* ここからINTERVIEW */
.l-people .is-flex{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    gap: 40px;
}

.prof-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    
}

.interview-img img{
    width: 100%;
}

.l-people table{
    margin-bottom: 30px;
}