


/* TOP */
.l-top{
    padding-top: 60px;
}
.l-top-inner{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
}
.l-top-copy{
    position: absolute;
    left: 0;
    bottom: -30px;
}

/* MESSAGE */
.l-message h2{
    text-align: center;
    margin-bottom: 4rem;
}
.l-message h2 span{
    margin-bottom: 2rem;
}
.l-message p{
    text-align: center;
    margin-bottom: 4rem;
}
.l-message span{
    display: block;
}
.l-message{
    margin-top: 8rem;
    margin-bottom: 10rem;
}

/* VISION */
.l-vision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.l-vision h2 span{
    display: block;
}
.l-vision img{
    width: 200px;
    height: 250px;
}

/* MISSION */
.l-mission{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.l-mission .item2{
    grid-column: 1/1;
    grid-row: 2/2;
    align-self: end;
}
.l-mission .item1{
    grid-column: 2/2;
    grid-row: 1/3;
    justify-self: end;
}
.l-mission .txtbox{
    position: absolute;
    margin-left: 20px;
}
.l-mission .txtbox span {
    display: block;
}
.l-mission-img1{
    height: 250px;
}
.l-mission-img1 img{
    height: 100%;
}

/* MERIT  */
.l-merit{
    margin-top: 80px;
}
.l-merit-inner{
    margin: 0 3.5rem;
}
.l-merit-heading{
    margin-bottom: 30px;
}
.l-merit-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.num{
    width: 3.7rem;
    margin-right: 1.2rem;
}
.l-merit-box-heading{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    position: relative;
}
.l-merit-box-heading::after{
    content: "";
    display: inline-block;
    width: 19rem;
    height: 1px;
    background: var(--red);
    position: absolute;
    right: 0;
}

/* IMAGE SLIDER */
.l-slide1,
.l-slide2{
    margin-top: 80px;
}

/* GROUP */
.l-group{
    margin-top: 80px;
}
.l-group-inner{
    margin: 0 20px;
}
.l-group-heading{
    margin-bottom: 40px;
}
.l-group-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box-hover{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.flex-and-absolute{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: calc(100% - 32px);
    padding: 6px 16px;
}
.group-img{
    background-size: cover;
    background-position: center center;
    height: 182px;
    width: 100%;
    transition:1s all;
    border-radius: 20px;
}

.view-details{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto 0 0;
    padding: 0;
}

.group-fukubagel-img{
    background-image: url(../images/bg-fukubagel.png);
}
.group-arigato-img{
    background-image: url(../images/bg-arigato.png);
}
.group-tomorrow-img{
    background-image: url(../images/bg-tomorrow.png);
    border-radius: 20px;
}

.company-heading span{
    display: block;
}

.group-img:hover{
    transform:scale(1.2,1.2);
    opacity: .8;
}

p.l-group-text{
    margin-top: 10px;
}

/* INTERVIEW */
.l-interview,
.l-template{
    margin-top: 80px;
}
.l-interview-inner,
.l-template-inner{
    margin: 0 24px;
}
.l-interview-heading,
.l-template-heading{
    margin-bottom: 20px;
}
.l-interview-img,
.l-template-img{
    border-radius: 20px;
    overflow: hidden;
}
p.normal{
    margin-bottom: 10px;
}

.l-template-img{
    background-size: cover;
    background-position: center center;
    width: 100%;
    transition:1s all;
    transition: transform .6s ease;
}
.is-absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 6px 16px;
    margin-bottom: 3.3%;
}

.l-template-img:hover{
    transform:scale(1.2,1.2);
    opacity: .8;
}

.normal{
    margin-top: 10px;
}

/* DECK */
.l-deck{
    margin-top: 80px;
}
.deck-wrapper{
    margin: 0 20px;
}